.App {
  height: 450px;
  width: 450px;

  display: flex;
  flex-wrap: wrap;

}

.cell {
  height: calc(100% / 3 - 2px);
  width: calc(100% / 3 - 2px);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
}

span {
  font-size: 8vw;
  text-align: center;

  display: block;
  width: 8vw;

 position: fixed;

  animation: pink-sparkle infinite linear forwards 5s;
}

@keyframes pink-sparkle {
  0% {
    top: 0vh;
    color: fuchsia;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  25% {
    top: 25vh;
    color: darkorchid;
    transform: rotateY(100deg) rotateX(170deg) rotateZ(540deg);
  }

  50% {
    top: 50vh;
    color: deeppink;
    transform: rotateY(180deg) rotateX(270deg) rotateZ(720deg);
  }
  75% {
    top: 75vh;
    color: darkturquoise;
    transform: rotateY(250deg) rotateX(500deg) rotateZ(900deg);
  }
  87.5% {
    top: 87.5vh;
    color: red;
    transform: rotateY(300deg) rotateX(600deg) rotateZ(800deg);
  }
  100% {
    top: 100vh;
    color: fuchsia;
    transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
  }
}
